.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 46rem;
  padding: 0 1rem;
  margin-top: calc(0px - 1.68rem);
}

.createTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  line-height: 1.4;
  background: var(--blue-dark);
  color: var(--gray-100);

  transition: background-color 0.3s;
}

.button:hover {
  background: var(--blue);
}

.input {
  width: 100%;
  max-width: 648px;
  line-height: 1.4;
  height: 3.37rem;
  border-radius: 8px;
  outline: none;
  border: none;

  background: var(--gray-500);
  color: var(--gray-100);
  padding: 1rem;
}

.input:focus {
  border: 1px solid var(--purple-dark);
}

.mainContent {
  display: flex;
  margin-top: 4rem;
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status span:last-child {
  padding: 0.13rem 0.5rem;
  background: var(--gray-400);
  border-radius: 8px;
}

.created {
  color: var(--blue);
  font-weight: bold;
}

.done {
  font-weight: bold;
  color: var(--purple);
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 8px;
  border-top: 1px solid var(--gray-300);
  color: var(--gray-300);

  padding: 4rem 1.5rem;
}

/* .tasksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
} */